body,
html {
  margin: 0;
  height: 100%;
  background-image: linear-gradient(to right, #add8e6, #78cfec);
  box-sizing: border-box;
}

.header {
  background-color: #00008b;
  padding: 20px 20px;
  color: white;
  text-align: center;
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
